
<div class = "container">
  <center>
    <div class = "form-group">
          <div class ="row">
            <p>Moi : <%= @input %></p>
          </div>
          <div class ="row">
            <p>Le coach : <%= @answer %></p>
          </div>
        </form>
      </div>
    <a href="/ask" value="Go on !" class="btn btn-primary">Ask a new question</a>
    </div>
  </center>
</div>
