<div class = "container">
  <center>
    <div class = "form-group">
      <div class = "col-xs-6">
        <form action="/answer" method="get">
          <div class ="row">
            <label for="question" class ='text-center'>Speak to your coach </label>
          </div>
          <div class ="row">
            <input type="text" id="question" name="query" class = "form-control" placeholder="what time is it ?" >
          </div>
          <div class ="row">
            <input type="submit" value="Go on !" class="btn btn-primary">
          </div>
        </form>
      </div>
    </center>
  </div>
</div>
